@charset "ISO-8859-1";

.textprimarys {
    color: var(--primary-color);
}

.textsecondarys {
    color: var(--secondary-color);
}


.card {
    border-radius: 10px;
    padding: 20px;
    box-shadow: 2px 2px 5px rgba(238, 238, 238), 2px -2px 5px rgba(238, 238, 238);
    background-color: #ffffff;
}

.bordernones {
	border: none;
}

.cardborders {
	border-color: #39a9c2 !important;
}


.form-control {
    border: none;
    background-color: var(--background-color);
}
